@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500&display=swap');

:root {
    --main-color: #9c72d3;
    --color-white: #fff;
    --gray: #9c9da0;
    --dark-gray: #666;
    --dark: #333;
}

* {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    transition: all .03s cubic-bezier(.16,.8,.62,1.52);
    text-transform: capitalize;
}

*::selection {
    background: var(--main-color);
    color: var(--color-white);
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
}

/* Scrollbar */

html::-webkit-scrollbar {
    width: 1.3rem;
}

html::-webkit-scrollbar-track {
    background: var(--dark);
}

html::-webkit-scrollbar-thumb {
    background: var(--main-color);
}

body {
    background: #f9f9f9;
}

section {
    min-height: 100vh;
    padding: 0 7%;
    padding-top: 9rem;
}

.btn {
    display: inline-block;
    margin-top: 1rem;
    padding: 1rem 4rem;
    border-radius: 5rem;
    background: var(--main-color);
    color: var(--color-white);
    overflow: hidden;
    position: relative;
    z-index: 0;
    font-size: 1.7rem;
}

.btn::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
    background: #444;
    clip-path: polygon(0 0, 100% 0, 0 0, 0% 100%);
    transition: .3s linear;
}

.btn:hover::before {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
}

.heading {
    font-size: 3rem;
    color: var(--dark-gray);
}

.heading span {
    font-size: 3rem;
    color: var(--main-color);
}

/* Header */

header {
    width: 100%;
    background: var(--color-white);
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    padding: 2.5rem 7%;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
}

header .logo {
   font-size: 2.5rem;
   color: var(--gray); 
}

header .logo span {
    color: var(--main-color);
 }

header .navbar ul {
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
}

header .navbar ul li {
    margin-left: 2.5rem;
}

header .navbar ul li a {
    color: var(--gray);
    font-size: 2rem;
}

header .navbar ul li a.active,
header .navbar ul li a:hover {
    color: var(--main-color);
    border-bottom: .2rem solid var(--main-color);
    padding: .7rem 0;
    transition: 0.20s;
}

#menu {
    font-size: 3rem;
    color: #9c9da0;
    cursor: pointer;
    display: none;
}

/* Home */

.home {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.home .image {
    flex: 1 1 40rem;
}

.home .image img {
    width: 100%;
}

.home .content {
    flex: 1 1 40rem;
}

.home .content span {
    color: var(--main-color);
    font-size: 2.5rem;
}

.home .content h3 {
    color: var(--dark-gray);
    font-size: 5rem;
}

.home .content p {
    color: var(--gray);
    font-size: 2rem;
    padding: 1rem 0;
}

/* Protect */

.protect .heading {
    text-align: center;
    padding: 1rem;
}

.protect .box-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.protect .box-container .box {
    background: var(--color-white);
    border: .1rem solid rgba(0,0,0,.1);
    padding: 2rem;
    margin: 2rem;
    width: 34rem;
    border-radius: .5rem;
    box-shadow: 0 .5rem 1rem rgba(0,0,0, .1);
    text-align: center;
}

.protect .box-container .box img {
    height: 17rem;
    width: 17rem;
}

.protect .box-container .box h3 {
    font-size: 2.5rem;
    color: var(--dark-gray);
    padding: 1rem 0;
}

.protect .box-container .box p {
    font-size: 1.4rem;
    color: var(--gray);
    padding: .5rem;
}

.protect .box-container .box:hover {
    transform: translateY(-1rem);
}









/* Responsive */

@media (max-width:991px) {

    html {
        font-size: 55%;
    }
}

@media (max-width:768px) {

    #menu {
        display: block;
    }

    header .navbar {
        position: fixed;
        top: 8rem;
        left: -120%;
        height: 100%;
        width: 100%;
        background: #eee;
        border-top: .2rem solid rgba(0,0,0,.1);
    }

    header .navbar ul {
        flex-flow: column;
        padding: 2rem;
    }

    header .navbar ul li {
        text-align: center;
        width: 100%;
        margin: 1rem 0;
    }

    header .navbar ul li a {
        display: block;
        padding: 1rem;
    }

    header .navbar ul li a.active,
    header .navbar ul li a:hover {
        padding: 1rem;
        background: var(--main-color);
        color: var(--color-white);
        border: none;
        border-radius: 5rem;
    }

    .fa-times {
        transform: rotate(180deg);
    }

    header .navbar.nav-toggle {
        left: 0;
    }

    .home .content {
        text-align: center;
    }

}

@media (max-width:500px) {

    html {
        font-size: 50%;
    }

    section {
        padding: 0 3%;
        padding-top: 9rem;
    }
}


